* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  min-width: 250px;
  min-height: 250px;
  padding: 13px;
  display: inline-block;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: teal;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-left: auto; 
  margin-right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}