extends layout

block content
    .w3-container.w3-teal
        header.w3-container.w3-teal
            h2 PGR 
        form.w3-container(action='/login' method='POST')
            label.w3-text-teal
                p.w3-text-white Email:
                    input.w3-input.w3-border.w3-light-grey(type='text' name='email')
            label.w3-text-teal
                p.w3-text-white Password: 
                    input.w3-input.w3-border.w3-light-grey(type='password' name='password')
            br
            input.w3-btn.w3-tealw3-btn.w3-border.w3-margin-bottom.w3-right.w3-teal(type='submit' value='Login')
            br
            p
                | Não és membro?
                a(href="/registar")    Registar Agora
    .w3-container.w3-teal
        footer.w3-container
            p
                adress Gerado por PGR:: André Morais, João Nuno Abreu, Tiago Magalhães