extends layout

block content
    .w3-container.w3-teal
     header.w3-container.w3-teal
            h2 Onde vais nino? xô daqui
            img(src="images/pepe.jpg" style='width:250px; height:250px;') 
    .w3-container.w3-teal
        footer.w3-container
            p
                adress Gerado por PGR:: André Morais, João Nuno Abreu, Tiago Magalhães