extends layout

block content
    .w3-container.w3.bar.w3-teal
        a(href="/" class="w3-bar-item w3-button w3-right")
            img(src="../images/logout.png" style='width:25px; height:25px;') 
        a(href="" class="w3-bar-item w3-button w3-right")
            img(src="../images/home.png" style='width:25px; height:25px;') 

    .w3-card-4
        header.w3-container
            .w3-container.w3-margin
                table.w3-table-all#myTable
                    caption Lista de Imagens do utilizador 
                        thead
                            tr
                                th Nome
                                th Data de Upload 
                                th Descrição
                                th Remover
                        tbody


    script(src='https://code.jquery.com/jquery-3.5.1.js')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css')
    script(src='https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js')

    script.
        var token = '#{token}';
        var id = '#{id}'
        $(document).ready(function() {
            $('#myTable').DataTable( {
                "paginate": false,
                "order": [[ 1, "desc" ]],
                "ajax": {
                    "url": "http://localhost:7777/users/perfil/" + id + "?token=" + token,
                    "type": "GET"
                },
                "columns": [
                    { "data": "nome"},
                    { data: null, 
                        className: 'dt-body-center',
                        render: function ( data, type, row ) {
                        return '<button class="w3-button w3-red"> Apagar </button>';}
                    }
                ],
            } );
        } );