extends header

block content
    if(isphoto == 1)
        .w3-row
            div(class="w3-col s3")
                div(class="containerp")
                    p Título
                    img.imagep(src="utilizador.png" class="imgp" style="width:100%")
                    div(class="middlep")
                        div(class="textp")
                            a(href="/upload") Download
                    p Subtítulo
            div(class="w3-col s9" )
                ul 
                    hr
                    li Descrição:
                    br
                    br
                    li Hashtags:
                    br
                    br
                    li Classificação:
                    br
                    br
                    li Data de Criação
                    br
                    br
                    hr
    if(ispdf == 1)
        .w3-row
            div(class="w3-col s3")
                div(class="containerp")
                    p Título
                    a(href=) Clique aqui para visualizar
                    p Subtítulo
            div(class="w3-col s9" )
                ul 
                    hr
                    li Descrição:
                    br
                    br
                    li Hashtags:
                    br
                    br
                    li Classificação:
                    br
                    br
                    li Data de Criação:
                    br
                    br
                    hr
    else
        .w3-row
            div(class="w3-col s3")
                div(class="containerp")
                    p Título
                    img.imagep(src="download.png" class="imgp" style="width:100%")
                    div(class="middlep")
                        div(class="textp")
                            a(href="/upload") Download
                    p Subtítulo
            div(class="w3-col s9" )
                ul 
                    hr
                    li Descrição:
                    br
                    br
                    li Hashtags:
                    br
                    br
                    li Classificação:
                    br
                    br
                    li Data de Criação:
                    br
                    br
                    hr
    
                    
                    
