extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h2 Lista de Admins
        if list.length > 0
            .w3-container
                table.w3-table-all
                    tr
                        th Nome
                        th Email
                        th Filiação
                        th Nível
                        th Data do último acesso
                        th Remover
                    each s in list
                        tr
                            td
                                a(href="/" + s.numero)= s.numero
                            td= s.nome
                            td
                                a(href=s.git)=s.git 
        else
            div.w3-container
                p Ainda não há utilizadores.
    .w3-container.w3-teal
        footer.w3-container
            p
                a(href="/") Voltar à página principal